[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "csv"]
	path = csv
	url = https://github.com/bergsmat/csv
[submodule "datetime"]
	path = datetime
	url = https://github.com/cran/datetime
[submodule "encode"]
	path = encode
	url = https://github.com/bergsmat/encode
[submodule "latexpdf"]
	path = latexpdf
	url = https://github.com/bergsmat/latexpdf
[submodule "metaplot"]
	path = metaplot
	url = https://github.com/bergsmat/metaplot
[submodule "nonmemica"]
	path = nonmemica
	url = https://github.com/bergsmat/nonmemica
[submodule "plotscale"]
	path = plotscale
	url = https://github.com/cran/plotscale
[submodule "spec"]
	path = spec
	url = https://github.com/bergsmat/spec
[submodule "spork"]
	path = spork
	url = https://github.com/bergsmat/spork
[submodule "tablet"]
	path = tablet
	url = https://github.com/bergsmat/tablet
[submodule "wrangle"]
	path = wrangle
	url = https://github.com/bergsmat/wrangle
[submodule "yamlet"]
	path = yamlet
	url = https://github.com/bergsmat/yamlet
