[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tablet"]
	path = tablet
	url = https://github.com/bergsmat/tablet
	shallow = true
	registered = true
[submodule "wrangle"]
	path = wrangle
	url = https://github.com/bergsmat/wrangle
	shallow = true
	registered = true
[submodule "yamlet"]
	path = yamlet
	url = https://github.com/bergsmat/yamlet
	shallow = true
	registered = true
